<p style="color: green"><%= notice %></p>

<% content_for :title, "Metas financeiras" %>

<h1>Metas financeiras</h1>

<div id="financial_goals">
  <% @financial_goals.each do |financial_goal| %>
    <%= render financial_goal %>
    <p>
      <%= link_to "Ver esta meta financeira", financial_goal %>
    </p>
  <% end %>
</div>

<%= link_to "Nova meta financeiras", new_financial_goal_path %>
