<div class="financial-goals-container">
  <% content_for :title, "Editing financial goal" %>

  <div class="page-header">
    <h1>Editar meta financeira</h1>
  </div>

  <%= render "form", financial_goal: @financial_goal %>

  <div class="action-links">
    <%= link_to "Ver esta meta financeira", @financial_goal, class: "btn btn-secondary" %>
    <%= link_to "Voltar às metas financeiras", financial_goals_path, class: "btn btn-secondary" %>
  </div>
</div>
